@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Flight.Models.User>




<div class="content">


    <!-- Table Start -->
    <div class="container-fluid pt-4 px-4 ml-5 mt-5">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-secondary rounded w-100 h-100 p-4">
                    <h6 class="mb-4">Table Without Border</h6>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Opration</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Password</th>

                                <th>Delete</th>



                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var value in Model)
                            {
                                <tr>
                                   
                                        <th scope="row">@value.Role.RoleName</th>

                                   
                                    <td>@value.UsersName</td>
                                        <td>@value.UsersEmail</td>
                                        <td>@value.UsersPassword</td>
                               
                                        <th scope="col"><a asp-route-id="@value.UsersId" asp-action="users_delete" asp-controller="Home">Delete</a></th>

                                
                                 
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>