@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "user_layout";

}
<!-- start banner Area -->
<section class="about-banner relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Tour Packages
				</h1>
				<p class="text-white link-nav"><a asp-action="Index" asp-controller="User">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="packages.html"> Tour Packages</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start hot-deal Area -->
<!-- End hot-deal Area -->
<!-- Start destinations Area -->
<section class="destinations-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-40 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Popular Destinations</h1>
					<p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to.</p>
				</div>
			</div>
		</div>
		<div class="row">
			@foreach (var value in ViewBag.schedule)
			{
				<div class="col-lg-4">
					<div class="single-destinations">
						<div class="thumb">
							<img src="~/img/packages/d1.jpg" alt="">
						</div>
						<div class="details">
							<h4>@value.Routess.RFrom To @value.Routess.RTo</h4>
							
							<ul class="package-list">
								<li class="d-flex justify-content-between align-items-center">
									<span>Duration</span>
									<span>@value.Arraval</span>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<span>Date</span>
									<span>@value.Departual</span>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<span>Flight</span>
									<span>@value.Flight.FName</span>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<span>Sepcial Set</span>
									<a asp-route-id="@value.SheduleId" asp-action="show_special_sets" asp-controller="User" class="btn btn-danger">Book</a>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<span>Price per person</span>
									<h5>$@value.Price</h5>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<a  class="price-btn ml-5">Book Now</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			}

			
		</div>
	</div>
</section>
<!-- End destinations Area -->
<!-- Start home-about Area -->
<section class="home-about-area">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-end">
			<div class="col-lg-6 col-md-12 home-about-left">
				<h1>
					Did not find your Package? <br>
					Feel free to ask us. <br>
					We‘ll make it for you
				</h1>
				<p>
					inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.
				</p>
				<a href="#" class="primary-btn text-uppercase">request custom price</a>
			</div>
			<div class="col-lg-6 col-md-12 home-about-right no-padding">
				<img class="img-fluid" src="img/packages/about-img.jpg" alt="">
			</div>
		</div>
	</div>
</section>
<!-- End home-about Area -->
