@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "user_layout";
}
@model Flight.Models.Add_to_cart;


<section class="about-banner relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
				 Booking
				</h1>
				<p class="text-white link-nav"><a asp-action="Index" asp-controller="User">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="packages.html">Booking</a></p>
			</div>
		</div>
	</div>
</section>

<div class="cantainer mt-5 mb-5 p-5 d-flex justify-content-center">
<form method="post" class="w-75">


        @if(Model != null){
            var total = 0;

       if(Session_Model.UserId == Model.user_id){
           <div class="row img" >
               <div class="col col-sm-12 col-lg-6 d-flex justify-content-center">
                        <img src="~/css2/formimg.jpg" style="width:95%;height:95%" />
                    </div>
               <div class="col col-sm-12 col-lg-6 ">
        <div class="row g-1 mb-3 w-100">
        <div class="col">
            <!-- Name input -->
            <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="form9Example1">Name</label>
                            <span class="form-control">@Model.user_name<span />
            </div>
        </div>
        <div class="col">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="form9Example2">Email address</label>
                            <span value="@Model.user_email" id="form9Example2" class="form-control">@Model.user_email</span>
            </div>
        </div>
    </div>
        <div class="row g-1 mb-3 w-100">
            <div class="col">
                <!-- Name input -->
                <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="form9Example1">To</label>
                            <span id="form9Example1" class="form-control">@Model.to</span>
                </div>
            </div>
            <div class="col">
                <!-- Email input -->
                <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="form9Example2">From</label>
                            <span id="form9Example2" class="form-control">@Model.from</span>
                </div>
            </div>
        </div>
        <div class="row g-1 mb-3 w-100">
            <div class="col">
                <!-- Name input -->
                <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="form9Example1">Quantity</label>
                            <input type="number" id="qty_@Model.s_id.ToString()" value="@Model.qty.ToString()" class="form-control outline-none" />
                </div>
            </div>
            <div class="col">
                <!-- Email input -->
                <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="form9Example2">Amount</label>
                            <input type="hidden" id="id_@Model.s_id.ToString()" value="@Model.s_id.ToString()" class="form-control" />

                            <span id="price_@Model.s_id.ToString()" class="form-control">@Model.price.ToString()</span>
                </div>
            </div>                   
                </div>
        <div class="row g-1 mb-3 w-100">
                    <div class="col">
                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mt-3 w-100 d-flex justify-content-center">
                   <button type="submit" class="btn btn-warning border-none btn-outline-none" style="color:white;">Submit</button>
                        </div>
                    </div>
        </div>
                    </div>

                    </div>
                <script>
                    $('#qty_@Model.s_id.ToString()').bind('keyup mouseup', function () {
                        var qty = $('#qty_@Model.s_id.ToString()').val();
                        var price = $('#price_@Model.s_id.ToString()').text();
                        var id = $('@Model.s_id.ToString()').val();
                        var total = Number(price) * Number(qty);

                        $("#price_@Model.s_id.ToString()").text(total);

                        var values = { "qty": qty, "price": price, "id": id };

                        $.ajax({
                            type: "Post",
                            url: '@Url.Action("updatacart", "User")',
                            data: values,
                            success: function (data) { 

                        },
                            error: function () {
                                alert("Data Not Update");
                            }

                                            });

                                        });


                </script>
            }
        }
</form>
</div>